.item-company,
.item-company * {
  box-sizing: border-box;
}
.item-company {
  background: var(--dark-rws-bcg-e03, #1b2421);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.company-name {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* .glyph-logo-container-round {
  padding: 2.11px 1.5px 0.23px 1.5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
} */

/* .at-t-span {
  letter-spacing: -1.8px;
}
.at-t-span2 {
  letter-spacing: -2.8px;
}
.at-t-span3 {
  letter-spacing: -4px;
} */


.div {
  color: var(--dark-rws-ink-p06, #f6f6fb);
  text-align: left;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -0.015em;
  font-weight: 500;
  position: relative;
}
.title-project {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}