  /*/// GRID ///*/
.grid02 {
  box-sizing: border-box;
  display: grid !important;
  grid-template-columns: repeat(150px, 3fr) !important;
  gap: var(--gap00) !important;
  grid-template-columns: 1fr 1fr !important;
} 
.grid03 {
  box-sizing: border-box;
  display: grid !important;
  grid-template-columns: repeat(150px, 3fr) !important;
  gap: var(--gap00) !important;
  grid-template-columns: 1fr 1fr 1fr !important;
} 
.grid04 {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 100% !important;
    gap: var(--gap00) !important;
    grid-template-columns: repeat(4, 1fr);
}
.grid06 {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 100% !important;
    gap: var(--gap00) !important;
    grid-template-columns: repeat(6, 1fr);
}
.grid > .item {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 300px;
  color: white;
  text-align: center;
  padding: 30px 5px;
}
.col00, .colFull { 
  box-sizing: border-box; display: grid; grid-column: 1 / -1  !important; grid-template-columns: repeat(150px, 1fr) !important;
}
.span01, .col01 { box-sizing: border-box; display: grid; grid-column: span 1  !important; grid-template-columns: 1fr;}
.span02, .col02 { box-sizing: border-box; display: grid; grid-column: span 2  !important; grid-template-columns: 2fr;}
.span03, .col03 { box-sizing: border-box; display: grid; grid-column: span 3  !important; grid-template-columns: 3fr;}
.span04, .col04 { box-sizing: border-box; display: grid; grid-column: span 4  !important; }
.row01  { box-sizing: border-box; display: grid ; grid-row: span 1 !important;}
.row02  { box-sizing: border-box; display: grid ; grid-row: span 2 !important;}
 .col05 { box-sizing: border-box; display: grid; grid-column: span 5  !important; grid-template-columns: 5fr;}
.span06, .col06 { box-sizing: border-box; display: grid; grid-column: span 6  !important; grid-template-columns: 6fr;}
