  
.text01, .text02, .text03, .text04, .text05, .text06 {
  font-family: var(--text-font-family);
}

.text01 {
  font-size: var(--text01m-font-size);
  font-weight: var(--text01m-font-weight);
  line-height: calc( var(--text01m-line-height) / 40 );
  letter-spacing: var(--text01m-letter-spacing);
}

.text02 {
  font-size: var(--text02m-font-size);
  font-weight: var(--text02m-font-weight);
  line-height: calc( var(--text02m-line-height) / 40 );
  letter-spacing: var(--text02m-letter-spacing);
}

.text03 {
  font-size: var(--text03m-font-size);
  font-weight: var(--text03m-font-style);
  line-height: calc( var(--text03m-line-height) / 40 );
  letter-spacing: var(--text03m-letter-spacing);
}

.light {
  font-weight: 300 !important;
  font-style: light !important;
}

.regular {
  font-weight: 400 !important;
  font-style: normal !important;
}

.medium {
  font-weight: 500 !important;
  font-style: medium !important;
}

.bold {
  font-weight: 700 !important;
  font-style: bold !important;
}